:root {
  color-scheme: light dark;

  --border: #a8a8a8;
  --header: #7a7a7a;
  --background: #f0f2f5;
  --foreground: #464646;
  --card: #b1b1b1;

	--box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);

  @media (prefers-color-scheme: dark) {
    --border: #50505f;
    --background: #29292f;
    --header: #1f1f23;
    --foreground: #fff;
    --card: #3a3a3a;
  }

	color: var(--foreground);
}

/* ========================================================================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: var(--header);
  border-bottom: 2px solid var(--border);
  padding: 2rem 24px;
	color: #fff;
}

body {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
}

main {
  padding: 2rem 24px;
}

pre {
  display: inline-block;
}

hr {
  border: none;
  border-top: 2px solid var(--border);
  margin: 8px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
	color: var(--foreground);
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
	background-color: var(--background);

	&:first-child {
		border-top-left-radius: 8px;
  }
  &:last-child {
    border-top-right-radius: 8px;
  }
}

tr {
	color: #fff;
	background-color: var(--card);

	&:nth-child(even) {
		color: var(--foreground);
		background-color: var(--background);
	}

	&:last-child td:first-child {
		border-bottom-left-radius: 8px;
	}

	&:last-child td:last-child {
		border-bottom-right-radius: 8px;
	}

	&:not(:last-child) {
		border-bottom: 2px solid var(--border);
	}
}

/* ========================================================================= */

.table-wrapper {
  border-radius: 8px;
  border: 2px solid var(--border);
  margin-top: 10px;
	box-shadow: var(--box-shadow);
}

.toolbar {
	display: flex;
	justify-content: space-between;
	gap: 8px;
}

#kill-button {
	transition: background-color 0.2s ease-in-out;
	background-color: rgb(203, 0, 0);
	color: #fff;
	border: 2px solid white;
	border-radius: 8px;
	padding: 8px 16px;
	text-transform: uppercase;

	&:hover {
		background-color: #ff0000;
		cursor: pointer;
	}
}

#counter {
  display: inline-block;
  padding: 8px 4px;
  border-radius: 8px;
  background: var(--card);
  border: 2px solid var(--border);
	box-shadow: var(--box-shadow);
}
