:root {
	color-scheme: light dark;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);

	--border: #e2e2e2;
	--header: #4d4d4d;
	--background: #f0f2f5;
	--foreground: #fff;
	--card: #cecece;

	@media (prefers-color-scheme: dark) {
		--border: #50505f;
		--background: #29292f;
		--header: #1f1f23;
		--foreground: #fff;
		--card: #3a3a3a;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	background: var(--header);
	border-bottom: 2px solid var(--border);
	padding: 2rem 24px;
}

body {
	height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr;

	color: var(--foreground);
	background: var(--background);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
}

main {
	padding: 2rem 24px;
}

pre {
	display: inline;
}

/* ========================================================================= */

#counter {
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 2rem 0;
	border-radius: 8px;
	background: var(--card);
	border: 2px solid var(--border);
}
